{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
        <div class="row justify-content-center">
            <h1>profil de {{ user.firstName }}</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-12">
                {% if user.imagePath != null %}
                    <img src="{{ asset('/img/' ~ user.imagePath) }}" class="img-fluid">
                {% else %}
                    <img src="{{ asset('/img/default_profil.jpg') }}" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Prénom</h4>
                <h4>Nom</h4>
                <h4>Téléphone</h4>
                <h4>Email</h4>
                <h4>Ville de rattachement</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>{{ user.firstName }}</h4>
                <h4>{{ user.name }}</h4>
                <h4>
                    {% if user.phone != null  %}
                        {{ user.phone }}
                    {% else %}
                        <br>
                    {% endif %}
                </h4>
                <h4>{{ user.email }}</h4>
                <h4>{{ user.site }}</h4>
            </div>
        </div>

{% endblock %}