{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <div class="row justify-content-center title">
        <h1>Mon profil</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-3 col-sm-12">
            {% if user.imagePath != null %}
                <img src="{{ asset('/img/' ~ user.imagePath) }}" class="img-fluid">
            {% else %}
                <img src="{{ asset('/img/default_profil.jpg') }}" class="img-fluid">
            {% endif %}
        </div>
        <div class="col-md-5 col-sm-12">
            {{ form_start(profilForm) }}

            {{ form_rest(profilForm) }}

            <input class="btn btn-primary round-button" type="submit" value="Enregistrer"/>
            <a href="{{ path('home') }}" class="btn btn-danger round-button" role="button">Annuler</a>
            {{ form_end(profilForm) }}
        </div>
    </div>
{% endblock %}
