{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Gérer les sites</h1>
    </div>
    <div class="row">
        <h3>Filtrer les sites</h3>
    </div>
    <div class="row">
        <h4>Le nom contient : </h4>
        <input type="text" id="sites">
        <button type="button" class="btn btn-primary">Rechercher</button>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr id="row_site_{{ site.id }}">
                    <script>
                        sitesArray.push([{{ city.id }}, '{{ city.getName() }}']);
                    </script>
                    <td>{{ site.getName() }}</td>
                    <td>
                        <a href="{{ path('editSite', { 'siteId': site.id }) }}">Modifier</a> -
                        <a href="{{ path('deleteSite', { 'siteId': site.id }) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>
                    <a href="{{ path('newSite') }}">ajouter</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var sitesArray = [];
        $(document).ready(function() {
            document.getElementById('city_button').addEventListener('click', function() {
                var matchCriteria = document.getElementById('searchInput').value;
                var regexp = new RegExp('^.*'+matchCriteria+'.*$', 'i');
                var selector = '';
                for (var i = 0; i<sitesArray.length; i++) {
                    selector = 'row_city_'+sitesArray[i][0];
                    if (regexp.test(sitesArray[i][1])) {
                        document.getElementById(selector).removeAttribute('style');
                    } else {
                        document.getElementById(selector).style.display = "none";
                    }
                }
            })
        });
    </script>
{% endblock %}