{% extends 'base.html.twig' %}

{% block body %}


    <div id="personal-information" class="row">
        <div class="col-md-3 offset-md-9 text-right">
            <div id="today">
                <span>Date du Jour : </span><span>{{ "now"|date("d/m/Y") }}</span>
            </div>
            <div id="name">
                <span>Participant : </span><span>{{ app.user.name }} {{ app.user.firstName }}</span>
            </div>
        </div>
    </div>
    <div class="row"><h2>Filtrer les sorties</h2></div>
    <form id="search" action="" method="get">
        <div class="row">
            <div class="col-md-3">
                <div class="row search_form_row">
                    <label class="col-md-7" for="site">Site : </label>
                    <select class="col-md-5" name="site" id="site">
                        {% for site in sites %}
                            <option value="{{ site.id }}" {% if site.id == siteSelected.id %}selected="selected"{% endif %}>{{ site.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row search_form_row">
                    <label class="col-md-7" for="search_text">Le nom de la sortie contient : </label>
                    <input class="col-md-5" type="text" id="search_text" name="search_text" placeholder="rechercher" value="{{app.request.query.get('search_text')}}"/>
                </div>
                <div class="row search_form_row">
                    <label class="col-md-2" for="date_start">entre : </label>
                    <!-- WOOW holy shit! it's Amaziiing, it works-->
                    <input class="col-md-2.5" type="date" id="date_start" name="date_start" value="{{app.request.query.get('date_start')}}"/>
                    <div class="col-md-1 text-center image_calendar">&nbsp;</div>
                    <span class="col-md-1 text-center"> et </span>
                    <input  class="col-md-2.5" type="date" id="date_end" name="date_end" value="{{app.request.query.get('date_end')}}"/>
                    <div class="col-md-1 text-center image_calendar">&nbsp;</div>
                </div>
            </div>
            <div class="col-md-3 offset-md-1">
                <div class="row search_form_row">
                    <input name="checkbox_organizer" id="checkbox_organizer" type="checkbox" value="organizer" {% if app.request.query.get('checkbox_organizer') %} checked {% endif %}>
                    <label class="checkbox_label" for="checkbox_organizer">&nbsp;Sorties dont je suis l'organisateur/trice</label>
                </div>
                <div class="row search_form_row">
                    <input name="checkbox_participate" id="checkbox_participate" type="checkbox" value="participate" {% if app.request.query.get('checkbox_participate') %} checked {% endif %}>
                    <label class="checkbox_label" for="checkbox_participate">&nbsp;Sorties auxquelles je suis inscrit/e</label>
                </div>
                <div class="row search_form_row">
                    <input name="checkbox_no_participate" id="checkbox_no_participate" type="checkbox" value="no_participate" {% if app.request.query.get('checkbox_no_participate') %} checked {% endif %}>
                    <label class="checkbox_label" for="checkbox_no_participate">&nbsp;Sorties auxquelles je suis pas inscrit/e</label>
                </div>
                <div class="row search_form_row">
                    <input  name="checkbox_past" id="checkbox_past" type="checkbox" value="past" {% if app.request.query.get('checkbox_past') %} checked {% endif %}>
                    <label class="checkbox_label" for="checkbox_past">&nbsp;Sorties passées</label>
                </div>
            </div>
            <div class="col-md-3 offset-md-1 text-center">
                <input type="submit" value="Rechercher" class="btn btn-primary"/>
            </div>
        </div>
    </form>
    <div id="table_home" class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr id="row_event_{{ event.id }}">
                    <td>{{ event.getName() }}</td>
                    <td>{{ event.getDate()|date("d/m/Y H:m:s") }}</td>
                    <td>{{ event.getLimitInscription()|date("d/m/Y") }}</td>
                    <td><span id="nbRegister_{{ event.getId() }}">{{ event.getUsersList()|length }}</span>/{{ event.getMaxInscriptions() }}</td>
                    <td>{{ event.getState()}}</td>
                    <td>
                        {% if event in app.user.eventsList  %}
                            <div id="cross_menu_{{ event.getId() }}" class="cross"></div>
                        {% else %}
                            <div id="cross_menu_{{ event.getId() }}" class="cross hide"></div>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('displayProfil') }}?organizerId={{ event.getOrganizer().getId() }}">{{ event.getOrganizer() }}</a>
                    </td>
                    <td>
                        {% if event in app.user.eventsOrganized and event.state == 'Créée'%}
                            <a href="{{ path('eventEdit') }}?eventId={{ event.id }}">Modifier</a>
                            <span>-</span>
                            <a href="{{ path('publishEvent') }}?eventId={{ event.id }}">Publier</a>
                        {% else %}
                            {% if event.getState() == 'Ouverte' or event.getState() == 'Clôturée' %}
                                <a href="{{ path('cancelEvent') }}?eventId={{ event.id }}">Annuler</a>
                            {% endif %}
                        {% endif %}
                        {% if event.state == 'Ouverte' and date(event.getLimitInscription()) > date() %}
                            {% if event in app.user.eventsList %}
                                <span>-</span>
                                <a id="register_button_{{ event.id }}" href="javascript:void(0)" onclick="deregisterEvent({{ event.getId() }})">Se désister</a>
                            {% else %}
                                {% if event.getUsersList()|length != event.getMaxInscriptions() %}
                                    <span>-</span>
                                    <a id="register_button_{{ event.id }}" href="javascript:void(0)" onclick="registerEvent({{ event.getId() }})">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" onclick="window.location='{{ path('eventCreate') }}';">Créer une sortie</button>
{% endblock %}

{% block javascripts %} <script src=" {{ asset('js/home.js') }} " ></script> {% endblock %}

