{% extends 'base.html.twig' %}

{% block body %}
    <div id="personal-information" class="row">
        <div class="col-md-3 offset-md-9 text-right">
            <div id="today">
                <span>Date du Jour : </span><span>{{ "now"|date("d/m/Y") }}</span>
            </div>
            <div id="name">
                <span>Participant : </span><span>{{ app.user.name }} {{ app.user.firstName }}</span>
            </div>
        </div>
    </div>
    <div class="row"><h2>Filtrer les sorties</h2></div>
    <form id="search" action="">
        <div class="row">
            <div class="col-md-3">
                <div class="row search_form_row">
                    <label class="col-md-7" for="site">Site : </label>
                    <select class="col-md-5" name="site" id="site">
                        <option value="default">------</option>
                        {% for site in sites %}
                            <option value="{{ site.getId() }}">{{ site.getName() }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row search_form_row">
                    <label class="col-md-7" for="search_text">Le nom de la sortie contient : </label>
                    <input  class="col-md-5" type="text" id="search_text" name="search_text" placeholder="rechercher"/>
                </div>
                <div class="row search_form_row">
                    <label class="col-md-2" for="date_start">entre : </label>
                    <!-- WOOW holy shit! it's Amaziiing, it works-->
                    <input  class="col-md-2.5" type="date" id="date_start" name="date_start"/>
                    <div class="col-md-1 text-center image_calendar">&nbsp;</div>
                    <span class="col-md-1 text-center"> et </span>
                    <input  class="col-md-2.5" type="date" id="date_end" name="date_end"/>
                    <div class="col-md-1 text-center image_calendar">&nbsp;</div>
                </div>
            </div>
            <div class="col-md-3 offset-md-1">
                <div class="row search_form_row">
                    <input name="checkbox_organizer" id="checkbox_organizer" type="checkbox" value="organizer">
                    <label class="checkbox_label" for="checkbox_organizer">&nbsp;Sorties dont je suis l'organisateur/trice</label>
                </div>
                <div class="row search_form_row">
                    <input name="checkbox_participate" id="checkbox_participate" type="checkbox" value="participate">
                    <label class="checkbox_label" for="checkbox_participate">&nbsp;Sorties auxquelles je suis inscrit/e</label>
                </div>
                <div class="row search_form_row">
                    <input name="checkbox_no_participate" id="checkbox_no_participate" type="checkbox" value="no_participate">
                    <label class="checkbox_label" for="checkbox_no_participate">&nbsp;Sorties auxquelles je suis pas inscrit/e</label>
                </div>
                <div class="row search_form_row">
                    <input  name="checkbox_past" id="checkbox_past" type="checkbox" value="past">
                    <label class="checkbox_label" for="checkbox_past">&nbsp;Sorties passées</label>
                </div>
            </div>
            <div class="col-md-3 offset-md-1 text-center">
                <input type="submit" value="Rechercher" class="btn btn-primary"/>
            </div>
        </div>
    </form>
    <div id="table_home" class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie
                <th scope="col">Clôture</th>
                <th scope="col">Inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.getName() }}</td>
                    <td>{{ event.getDate()|date("d/m/Y H:m:s") }}</td>
                    <td>{{ event.getLimitInscription()|date("d/m/Y") }}</td>
                    <td><span id="nbRegister{{ event.getId() }}">{{ event.getUsersList()|length }}</span>/{{ event.getMaxInscriptions() }}</td>
                    <td>{{ event.getState()}}</td>
                    <td>
                        {% if event in app.user.eventsList  %}
                            <div id="cross_menu_{{ event.getId() }}" class="cross"></div>
                        {% else %}
                            <div id="cross_menu_{{ event.getId() }}" class="cross hide"></div>
                        {% endif %}
                    </td>
                    <td>{{ event.getOrganizer() }}</td>
                    <td>
                        {% if event in app.user.eventsOrganized  %}
                            {% if event.getState() == "Créée"  %}
                                <a href="">Modifier</a>
                                <span>-</span>
                                <a href="">Publier</a>
                            {% else %}
                                <a href="">Afficher</a>
                                {% if event.getState() == "Ouverte"  %}
                                    <span>-</span>
                                    <a href="">Annuler</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a href="">Afficher</a>
                            {% if event in app.user.eventsList %}
                                <span>-</span>
                                <a href="">Se désiter</a>
                            {% else %}
                                {% if event.getUsersList()|length != event.getMaxInscriptions() %}
                                    <span>-</span>
                                    <a href="javascript:void(0)" onclick="registerEvent({{ event.getId() }}, '{{ url('register') }}')">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" onclick="window.location='{{ path('eventEdit') }}';">Créer une sortie</button>

    <script>
        function registerEvent(eventId, url) {
            $.ajax({
                url : url,
                type : 'POST',
                data: 'eventId='+eventId,
                success : function(json, status){
                    console.log("success: "+JSON.stringify(json,null,2));
                    document.getElementById("nbRegister"+eventId).innerHTML = json.success;
                    document.getElementById("cross_menu_"+eventId).classList.remove('hide');
                },
                error : function(res, status, error){
                    console.log("error: "+error);
                }
            });
        }
    </script>

{% endblock %}
