{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="text-center title">
        <h1>Liste des utilisateurs</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th scope="col">action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr id="row_event_{{ user.id }}">
                        <td><a href="{{ path('displayProfil') }}?userId={{ user.getId() }}">{{ user.name }}</a></td>
                        <td><a href="{{ path('displayProfil') }}?userId={{ user.getId() }}">{{ user.firstname }}</a></td>
                        {% if is_granted('ROLE_ADMIN')  %}
                            <td>
                                {% if user.roles[0] != "ROLE_ADMIN" %}
                                    <a href="javascript:void(0)" onclick="removeEntity({{ user.id }} ,'row_event_' )">Supprimer</a>
                                    <span>-</span>
                                    {% if user.active %}
                                        <a id="link_activate_{{ user.id }}" href="javascript:void(0)" onclick="desactivateUser({{ user.id }})">Désactiver</a>
                                    {% else %}
                                        <a  id="link_activate_{{ user.id }}" href="javascript:void(0)" onclick="activateUser({{ user.id }})">Activer</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN')  %}
        <script src=" {{ asset('js/user.js') }} " ></script>
        <script>
            var urlRemove = '{{ url('removeUser') }}';
            var urlDesactivate = '{{ url('desactivateUser') }}';
            var urlActivate = '{{ url('activateUser') }}';
        </script>
    {% endif %}

{% endblock %}
