{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th scope="col">action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr id="row_event_{{ user.id }}">
                        <td><a href="{{ path('displayProfil') }}?userId={{ user.getId() }}">{{ user.name }}</a></td>
                        <td><a href="{{ path('displayProfil') }}?userId={{ user.getId() }}">{{ user.firstname }}</a></td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="#">Supprimer</a><span>-</span>
                                <a href="#">Desactiver</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
