{% extends 'base.html.twig' %}
{% block menu %}{% endblock %}
{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                   Vous êtes connecter avec {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}
            <div class="content">
                <div class="text-center">
                    <h1>Connection</h1>
                </div>
                <div class="col-md-6 offset-md-3">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
                <div class="col-md-6 offset-md-3">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="col-md-6 offset-md-3">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" > Se souvenir de moi
                    </label>
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <button class="btn btn-lg btn-primary btn-block round-button" type="submit">
                    Se connecter
                </button>
                <div id="link_passwordForbidden" class="">
                    <a href="{{ url('passwordForbidden') }}"> mot de passe oublié</a>
                </div>
            </div>


        </div>

        </form>
    </div>
{% endblock %}
