{% extends 'base.html.twig' %}

{% block title %}Hello CityController!{% endblock %}

{% block body %}
    <div class="text-center title">
        <h1>Gérer les villes</h1>
    </div>
    <div class="row">
        <h3>Filtrer les villes</h3>
    </div>
    <div class="row">
        <h4>Le nom contient :&nbsp;</h4>
        <input id="searchInput" type="text">
        <button id="city_button" type="button" class="btn btn-primary search_button">Rechercher</button>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="col-md-4">Ville</th>
                    <th scope="col" class="col-md-4">Code Postal</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th scope="col" class="col-md-4">Actions</th>
                    {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for city in cities %}
                <tr id="row_city_{{ city.id }}">
                    <script>
                        citiesArray.push([{{ city.id }}, '{{ city.getName() }}']);
                    </script>
                    <td>{{ city.getName() }}</td>
                    <td>{{ city.getPostalCode() }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('editCity', { 'cityId': city.id }) }}">Modifier</a> -
                          <a href="javascript:void(0)" onclick="removeEntity({{ city.id }} ,'row_city_' )">Supprimer</a>
                    </td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if app.user.active %}
        <div class="row justify-content-center">
            <button onclick="window.location='{{ path('newCity') }}'" class="btn btn-primary" >Ajouter</button>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        var urlRemove = '{{ url("removeCity") }}';
        var citiesArray = [];
        $(document).ready(function() {
            document.getElementById('city_button').addEventListener('click', function() {
                var matchCriteria = document.getElementById('searchInput').value;
                var regexp = new RegExp('^.*'+matchCriteria+'.*$', 'i');
                var selector = '';
                for (var i = 0; i<citiesArray.length; i++) {
                    selector = 'row_city_'+citiesArray[i][0];
                    if (regexp.test(citiesArray[i][1])) {
                        document.getElementById(selector).removeAttribute('style');
                    } else {
                        document.getElementById(selector).style.display = "none";
                    }
                }
            })
        });
    </script>
{% endblock %}
